@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer utilities{
  .glow-effect{
    box-shadow: 0 0 50px #d37829, 0 0 25px #d37829, 0 0 50px #d37829;
  }
  .glow-effect-dark{
    box-shadow: 0 0 50px #d37829, 0 0 25px #d37829, 0 0 50px #0f172a;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-gradient-animation {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, rgb(15, 23, 42), rgb(88, 28, 135),  rgb(236, 72, 153));
  background-size: 200% 100%;
  animation: gradientAnimation 3s linear infinite;
}

.hero-video-text{
  color: transparent;
  text-align: left;
  font-size: 3.75rem;
  font-weight: 700;
  background: linear-gradient(to right, #a855f7, #ffffff);
  background-clip: text;
  line-height: 0.9;
  padding: 56px;
}


.carousel-text {
  font-size: 2.25rem; /* Equivalent to text-4xl on sm screens */
  font-weight: 800;
  background-image: linear-gradient(to right, #4f46e5, #fa00ff); /* Adjust colors as per your design */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 0.9; /* Equivalent to leading-[0.9] */
}

@media (min-width: 640px) {
  .carousel-text {
    font-size: 2.25rem; /* Equivalent to text-4xl on sm screens */
  }
}

@media (min-width: 768px) {
  .carousel-text {
    font-size: 2.5rem; /* Equivalent to md:text-5xl on md screens */
  }
}

@media (min-width: 1280px) {
  .carousel-text {
    font-size: 3.75rem; /* Equivalent to xl:text-6xl on xl screens */
  }
}

